.oxmod-footer-rich{
/* CSS */
	.links{
		text-align: center;
		padding-top: 15px;
		color:#666;
		font-size: 12px;
		margin-bottom: 10px;
		>a{
			display: inline-block;
			padding: 0 10px;
			border-right:solid 1px #dcdcdc;
			line-height: 1;
			color:inherit;
			&:last-child{
				border-right: none;
			}
		}
	}
	
 }
